/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    /* Applying Google Font: Roboto */
    margin: 0;
    padding: 0;
    background-color: #FDFCDC;
    /* Background */
    color: #0081A7;
    /* Text */
    transition: background-color 0.5s, color 0.5s;
    /* Smooth transition for background and text color */
}

/* Header Styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F07167;
    /* Primary */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Shadow for header */
    transition: background-color 0.5s, box-shadow 0.5s;
}

.header-center h1 {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .logo {
    width: 50px;
    margin-left: 10px;
}

.header-right .header-icon {
    margin-left: 15px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.header-right .header-icon:hover {
    color: #0081A7;
    transform: scale(1.2);
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F07167;
    /* Primary */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
    /* Shadow for sidebar */
}

.sidebar a,
.sidebar .login-btn {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s, padding 0.3s;
}

.sidebar a:hover,
.sidebar .login-btn:hover {
    background-color: #FF8C89;
    /* Primary Light */
    color: #0081A7;
    /* Text */
    padding-left: 25px;
    /* Indent on hover */
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div {
    display: flex;
    align-items: center;
    gap: 10px;
}

form button {
    padding: 10px;
    background-color: #F07167;
    /* Primary */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0081A7;
    /* Text */
}
