/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDFCDC;
    color: #333;
}

/* Header Styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F07167; /* Primary */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for header */
    transition: background-color 0.5s, box-shadow 0.5s;
}


.header-center h1 {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .logo {
    width: 50px;
    margin-left: 10px;
}

.header-right .header-icon {
    margin-left: 15px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.header-right .header-icon:hover {
    color: #0081A7;
    transform: scale(1.2);
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F07167; /* Primary */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1); /* Shadow for sidebar */
}

.sidebar.slide-in {
    animation: slideIn 0.5s forwards;
}

.sidebar a, .sidebar .login-btn {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s, padding 0.3s;
}

.sidebar a:hover, .sidebar .login-btn:hover {
    background-color: #FF8C89; /* Primary Light */
    color: #0081A7; /* Text */
    padding-left: 25px; /* Indent on hover */
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

/* About Section Styles */
.about-section {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-section p {
    color: #2c3e50;
    font-size: 18px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #F07167;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #c0392b;
}

/* Features Section Styles */
.features-section {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.features-section h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 15px;
}

.features-section ul {
    list-style-type: none;
    padding: 0;
}

.features-section li {
    font-size: 18px;
    color: #7f8c8d;
    margin-bottom: 10px;
}

.features-section strong {
    color: #2c3e50;
}

/* Contact Section Styles */
.contact-section {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 15px;
}

.contact-section form {
    display: flex;
    flex-direction: column;
}

.contact-section label {
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 5px;
}

.contact-section input,
.contact-section textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-section button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #F07167;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #c0392b;
}

/* Profiles Section Styles */
.profiles-section {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profiles-section h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 15px;
}

.profile-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.profile {
    width: 150px;
    text-align: center;
}

.profile img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile p {
    margin-top: 10px;
    font-size: 16px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .openbtn {
        font-size: 18px;
        padding: 8px 12px;
    }

    .logo {
        height: 50px;
        margin-right: 10px;
    }

    .sidebar a {
        font-size: 20px;
    }

    .closebtn {
        font-size: 30px;
        right: 15px;
    }
}
